
nav.navbar {
				background-color: #0062a3;
				color: whitesmoke;
				margin: 0px;
				font-family: 'Titillium Web', sans-serif;
			}
li:hover {
				opacity: 0.5;
			}

.abs-center-x {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}

body {
    background-color: #dce8e7;
    background-repeat:no-repeat;
    background-image: url('../ima/bk89.png');
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0062a3;
  color:whitesmoke;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
